<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:Context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<!-- 自动扫描 -->
	<Context:component-scan base-package="com.easyui" />

	<!-- 引入配置文件 -->
<!-- 	<bean id="jdbcProperties" -->
<!-- 		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!-- 		<property name="location" value="classpath:jdbc.properties"></property> -->
<!-- 	</bean> -->


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">

		<!-- <property name="driverClass" value="${driver}" /> -->
		<!-- <property name="jdbcUrl" value="${url}" /> -->
		<!-- <property name="user" value="${username}" /> -->
		<!-- <property name="password" value="password" /> -->

		<!-- <property name="maxPoolSize"> -->
		<!-- <value>80</value> -->
		<!-- </property> -->
		<!-- <property name="minPoolSize"> -->
		<!-- <value>1</value> -->
		<!-- </property> -->
		<!-- <property name="initialPoolSize"> -->
		<!-- <value>2</value> -->
		<!-- </property> -->
		<!-- <property name="maxIdleTime"> -->
		<!-- <value>20</value> -->
		<!-- </property> -->
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost:3306/easyui</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>123</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>2</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!-- 配置session工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath:com/easyui/mapping/*.xml"></property>
	</bean>

	<!-- mapper接口的扫描，必须扫描到接口，扫描的原则是：所有扫描进Spring的Mapper对象，它的命名规则： 首字母小写，后面的都是按照原有的接口名字定义。 
		比如UserMapper接口扫描到spring里，id名为userMapper （现）扫描dao层 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.easyui.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<aop:config>
		<aop:pointcut id="mypointcut" expression="bean(customerDao)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="mypointcut" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="select*" read-only="true" />
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED"
				timeout="5" />
		</tx:attributes>
	</tx:advice>


</beans>